* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {

    background-image: url("./images/background6.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 
.menu-body:after {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(211, 211, 211, 0.3);
    pointer-events: none;
    z-index: -1;
}
.container {
    width: 95vw;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff48;
    background-attachment:initial;
    flex-wrap: nowrap;
}
.main {
    min-height: 100vh;
}
nav {
    margin: 2.0rem 0;
    background:  #ffffff48;
    background-position-y: center;
    width: 100%;
    color: rgb(132, 43, 248);
}
nav li {
    display: inline;
    margin: 1rem;
}
nav a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(155, 113, 209);
    text-shadow: 2px 2px 2px #000000;
    transition: color .3s ease-out;
}
nav a:hover {
    opacity: 85%;
    color: rgb(255, 152, 224);
}
.name {
    text-align: center;
    margin-bottom: 1rem;
}
#bitmoji {
    height: 15rem;
    width: 15rem;
    margin-bottom: 3rem;
}
.contact-bar {
    background-color: rgb(89, 155, 241);
    border: .5rem solid rgb(13, 58, 117);
    border-radius: 1rem;

}
.contact-bar a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(174, 115, 252);
    text-shadow: 2px 2px 2px #000000;
    transition: color .3s ease-out;
}
.contact-bar a:hover {
    opacity: 85%;
    color: rgb(255, 152, 224);
}
.grid {
    display: grid;
    height: 100rem;
    width: 66rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(35, 1fr);
    gap: 1rem;
    margin: 1rem
}
.a {
    grid-area: 1 / 2 / 2 / 4;
}
.b{
    grid-area: 2 / 1 / 6 / 8;
}
.c {
    grid-area: 6 / 1 / 10 / 8;
}
.d {
    grid-area: 11 / 2 / 12 / 4;
}
.e {
    grid-area: 12 / 1 / 17 / 8;
}
.f {
    grid-area: 17 / 1 / 23 / 8;
}
.g {
    grid-area: 24 / 2 / 25 / 5;
}
.h {
    grid-area: 25 / 1 / 30 / 8;
}
.i {
    grid-area: 3 / 9 / 14 / 12;
}