body {
    background-color: rgb(255, 255, 255);
}
#brandtext {
    font-size: 1.4rem;
    margin-left: 1rem;
    text-shadow: .1rem .1rem .1rem rgba(151, 151, 151, 0.384);
    background: -webkit-linear-gradient(#d80000 40%, rgb(255, 17, 17) 50%, #d80000 60% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.navbar li {
    margin-left: 1rem;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-item:hover {
    background: none;
}
.dropdown-item:all {
    background: none; 
    box-shadow: inset 20px 20px none;
}
#firstItem{
    margin-top: -1rem;
}
.name h1 {
    font-size: 3.5rem;
    text-align: center;
    color:#d80000;
    text-shadow: .15rem .1rem .2rem #000;
}
h2 {
    color:#d80000;
    text-shadow: .12rem .1rem .154rem #000;
}

h2 {
    text-align: center;
    font-size: 2rem;
    
}
h3 {
    color: #d80000;
    text-shadow: .03rem .03rem .1rem #000;
}
h4 {
    color: #ffffff;
    text-shadow: .03rem .03rem .1rem #000;
}
h5 {
    color: #ffffff;
    text-shadow: .03rem .03rem .1rem #000;
}
p {
    color: #fdfdfd;
    text-shadow: .03rem .03rem .1rem #000;
    line-height: 1.75rem;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: .3rem solid #ff1919;
    background-color: rgb(255, 151, 151);
    padding: .7rem .7rem;
}

#certLink a{
    text-decoration: none;
}
#certLink h4 {
    color: rgb(255, 248, 215);
    transition: all .14s ease-in-out;
    -webkit-transition: all .14s ease-in-out;
    -moz-transition: all .14s ease-in-out;
    -ms-transition: all .14s ease-in-out;
    -o-transition: all .14s ease-in-out;
}
#certLink h4:hover {
    opacity: 85%;
    color: #d80000;
}
#certLink h4:active {
    color: #fff;
    text-shadow: 0 0 .3rem #fffb27;
}
button {
    border-radius:.8rem;
    background: none;
    color: rgb(255, 255, 255);
    border: 0.25rem solid #d80000;
    padding: 0.85em 0.75em;
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-border-radius:.8rem;
    -moz-border-radius:.8rem;
    -ms-border-radius:.8rem;
    -o-border-radius:.8rem;
}
button:hover {
    color: #d80000;
    text-shadow: .04rem .04rem .04rem #000;
}
button::after {
    content: "";
    background: #fdcccc;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}
button[class^="grow"]::after {
    transition: all 0.3s ease;
}
button[class^="grow"]:hover::after {
    transition: all 0.3s ease-out;
}
button.grow_spin::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fdcccc;
    transform: scale(0, 0) rotate(-180deg);
    -webkit-transform: scale(0, 0) rotate(-180deg);
    -moz-transform: scale(0, 0) rotate(-180deg);
    -ms-transform: scale(0, 0) rotate(-180deg);
    -o-transform: scale(0, 0) rotate(-180deg);
}
    button.grow_spin:hover::after {
    transform: scale(1, 1) rotate(0deg);
}
button:active {
    box-shadow: 0 0 .4rem #d80000;
}
button:focus {
    outline: none;
}
/*         Contact Bar         */


.contact-bar {
 
    background-image: linear-gradient(#d80000, rgb(255, 226, 219), #ffa928 )  ;
    border: .3rem solid #ff1919;
    border-radius: 1rem;
    min-width: 20rem;

}
.contact-bar ul{
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
    color: #d80000;
    text-shadow: .07rem .07rem .07rem #000000;
}
.contact-bar li {
    margin-bottom: .5rem;
}
.contact-bar a {
    color: #d80000;
    text-decoration: none;
    transition: color .22s ease-out;
    -webkit-transition: color .22s ease-out;
    -moz-transition: color .22s ease-out;
    -ms-transition: color .22s ease-out;
    -o-transition: color .22s ease-out;
}
.contact-bar a:hover {
    opacity: 85%;
    color: #ff5959;
    text-shadow: .09rem .09rem .09rem #000000;
}
.contact-bar a:active {
    text-shadow: 0 0 .3rem #fffb27;
}

#email {
    margin-left: -.7rem;
    font-size: 1.35rem;
}
@media (max-width: 600px) {
    html {
        font-size: 10px;
    }
}