body {
    
    background-image: url('../img/beach.jpg');
    background-size: cover;
    height: 50rem;
    width: auto;
}
@media only screen and (max-width: 600px) {
    body {
      background-image: url(../img/beach2.jpg);
    }
    #brandtext{
        font-size: 2rem;
    }
    .container h1 {
        font-size: 2.8rem;
    }
}
#brandtext {
    font-family: 'Oh Now';
    font-size: 2.2rem;
    margin-left: .6rem;
    letter-spacing: .3rem;
    text-shadow: 0 0 .3rem rgba(255, 255, 255, 0.356);
    background: -webkit-linear-gradient(#d80000 40%, rgb(255, 17, 17) 50%, #d80000 60% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li a {
    margin: .6rem;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-item:hover {
    background: none;
}
.dropdown-item:all {
    background: none; 
    box-shadow: inset 20px 20px none;
}

#firstItem{
    margin-top: -1.8rem;
}
.container {
    display: relative;
    margin-top: 1.3rem;
    color:rgb(245, 245, 245);
    text-shadow: .2rem .1rem .2rem #000;
}
.container h1 {
    font-size: 3.5rem;
}
.container h2 {
    font-size: 1.5rem;
}
.btnContainer {
    margin-top: 4rem;
}
button {
    border-radius:.8rem;
    font-family: 'Fira Code VF';
    font-size: 1.3em;
    box-shadow: 0 0 .3rem #d80000;
    background: #ff7f7f5b;
    text-shadow: .1rem .1rem .3rem #d80000;
    color: rgb(255, 255, 255);
    border: 0.25rem solid #d80000;
    padding: 0.85em 0.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-border-radius:.8rem;
    -moz-border-radius:.8rem;
    -ms-border-radius:.8rem;
    -o-border-radius:.8rem;
}
button:hover {
    color: #d80000;
    text-shadow: .04rem .04rem .04rem #000;
}
button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}
button[class^="grow"]::after {
    transition: all 0.3s ease;
}
button[class^="grow"]:hover::after {
    transition: all 0.3s ease-out;
}
button.grow_spin::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    -webkit-transform: scale(0, 0) rotate(-180deg);
    -moz-transform: scale(0, 0) rotate(-180deg);
    -ms-transform: scale(0, 0) rotate(-180deg);
    -o-transform: scale(0, 0) rotate(-180deg);
}
    button.grow_spin:hover::after {
    transform: scale(1, 1) rotate(0deg);
}
button:active {
    color:#fffd6c;
    background:#d80000;
}
button:focus {
    outline: none;
}