body {
    
    background: -webkit-linear-gradient(rgb(162, 156, 253), rgb(149, 172, 248), rgb(193, 189, 255), rgb(149, 172, 248), rgb(196, 177, 126), rgb(170, 145, 77));
    height: 50rem;
    width: auto;
}
#nav a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #a80c38;
    text-shadow: .05rem .05rem .08rem #000000;
    transition: color .3s ease-out;
}
#brandtext {
    font-family: 'Oh Now';
    font-size: 2rem;
    margin-left: .6rem;
    letter-spacing: .3rem;
    text-shadow: 0 0 .3rem rgba(255, 255, 255, 0.5);
    background: -webkit-linear-gradient(#a51438 40%, rgb(199, 65, 77) 50%, #ad1c40 60% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li a {
    margin: .6rem;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-item:hover {
    background: none;
}
.dropdown-item:all {
    background: none; 
    box-shadow: inset 20px 20px none;
}

#firstItem{
    margin-top: -1.8rem;
}
.container {
    display: relative;
    margin-top: 1.3rem;
    color:rgb(245, 245, 245);
    text-shadow: .2rem .1rem .2rem #000;
}
.container h1 {
    font-size: 2.5rem;
}

#subTitle{
    font-size: 1.5rem;
}
span {
    position: absolute;
    background: url(../img/heart.png);
    pointer-events: none;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    background-size: cover;
    animation: animate 2s linear infinite;
    -webkit-animation: animate 2s linear infinite;
}
@keyframes animate {
    0%  
    {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
}
    100%
    {
        
        transform: translate(-50%, -1000%);
        -webkit-transform: translate(-50%, -1000%);
        -moz-transform: translate(-50%, -1000%);
        -ms-transform: translate(-50%, -1000%);
        -o-transform: translate(-50%, -1000%);
        opacity: 0;
        filter: hue-rotate(720deg);
        -webkit-filter: hue-rotate(720deg);
}
}